weights/
datasets/
*.out
outputs/
*.pth
*.ckpt
contrastive/lightning_logs/
contrastive/wandb
contrastive/full_FT_models/
contrastive/lightning_logs/
contrastive/__pycache__/
contrastive/saved_models/
contrastive/slurm_finetune*
*/*/wandb/
wandb/
*.pt